<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TSUnion.KMIP.Communication.ConnectionDetails.Port" value="13333"	/>
    <add key="TSUnion.KMIP.Communication.ConnectionDetails.Address" value="127.0.0.1"	/>
    <add key="TSUnion.KMIP.Communication.ConnectionDetails.BufferSize" value="65536"	/>
    <add key="TSUnion.KMIP.Communication.ConnectionDetails.CertificateName" value="CN=localhost"	/>
    <add key="TSUnion.KMIP.Communication.ConnectionDetails.ProtocolType" value="Simple"	/>
  </appSettings>
</configuration>