<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TSUnion.KMIP.DAO.Properties.Settings.KMIP_DBConnectionString"
            connectionString="Data Source=SNEHASYS-II\SQLEXPRESS;Initial Catalog=KMIP_DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>